﻿html {
    box-sizing: border-box;
    font-size: 16px;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    padding: 0;
}

img {
    width: 100%;
    height: auto;
    margin-bottom: 1em;
}

a img:hover {
    border: 2px solid black;
    box-shadow: 3px 3px 2px 0 rgba(0, 0, 0, 0.5);
}

.page-wrapper {
    max-width: 1000px;
    margin: 0 auto;
}

input[type=submit] {
    border-radius: 5px;
}

input[type=text] {
    width: 300px;
}

header {
    padding: 1em 1em;
    position: relative;
    background: #ddfeff;
}

footer {
    clear: both;
    background: #ddfeff;
    color: #000;
    padding: 0.5em 0.5em;
}

footer p {
    margin: 0;
}

#main-navigation ul {
    margin: 0;
    padding: 0;
}

#main-navigation li {
    list-style: none;
    display: inline-block;
    margin-right: 3em;
}

#main-navigation a {
    text-transform: uppercase;
    font-size: 20px;
    color: #000;
}

#main-navigation a:hover {
    font-weight: bold;
    text-decoration: none;
}